extends layout

block content
  .container
    h3 Login
    form(action="/login", method="post")
      input(type="text" name="username" placeholder="Username")
      input(type="password" name="password" placeholder="Password")
      button(type="submit") Submit
      a(href="/signUp") Sizda hali accaunt mavjud emasmi